*.elc
aws/
doom
eln-cache/
clj-kondo/.cache
karabiner
raycast
rebar3
emacs/lisp/init-autoloads.el
emacs/tramp
emacs/eshell/*
emacs/elpa/*
emacs/elpaca
emacs/tree-sitter
emacs/auto-save-list
emacs/.cache
emacs/transient
emacs/.lsp-session
emacs/.dap-breakpoints
emacs/custom.el
emacs/history
emacs/recentf
emacs/.local
.eldev/
less/history
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump
clojure/tools
clojure/.cpcache
configstore/
op/
ssh/id*
ssh/known*
gh/hosts.yml
secrets/
gnupg/
rustup/*
pyenv/
pip/
bin/aws-list-subscription-filters.py
zed/.tmp*
zed/embeddings/
.local/
