*.elc
aws/
emacs/
doom/
auto-save-list/
eln-cache/
emacs/lisp/init-autoloads.el
emacs/tramp
emacs/eshell/*
.eldev/
less/history
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump
clojure/tools
clojure/.cpcache
configstore/
op/
ssh/id*
ssh/known*
gh/hosts.yml
secrets/
gnupg/
rustup/*
