{:linters {:reduce-without-init :warning
           :namespace-name-mismatch :error
           ;; :redundant-fn-wrapper :warning
           ;; :skip-comments true
           }
 ;; :config-in-comment {:linters {:unresolved-namespace {:level :off}}}
 }
